<div class="modal" tabindex="-1" id="loadingModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
           
            <div class="modal-body modal-body-md">


            <div class="spinner-border" role="status">
               
                
                </div>
                <span id="loadingContent"></span>

            
        </div><!-- .modal-body -->
    </div><!-- .modal-content -->
</div><!-- .modal-dialog -->
</div><!-- .modal -->