
                         <div class="tab-pane" id="notifications">
                           
     <div class="nk-block">



                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-head-content">
                                            <h6>SMS Text Messages</h6>
                                            <p>These messages are instant.</p>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block-content">
                                        <div class="gy-3">
                                            <div class="g-item">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" id="hpp-sms">
                                                    <label class="custom-control-label" for="hpp-sms">Receive a text message each time someone pays on my hosted payment page.</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- .nk-block-content -->
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-head-content">
                                            <h6>Email</h6>
                                            <p>Select which email notifications you would like to receive.</p>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block-content">
                                        <div class="gy-3">
                                            <div class="g-item">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" checked id="hpp-email">
                                                    <label class="custom-control-label" for="hpp-email">Receive an email each time someone pays on my hosted payment page.</label>
                                                </div>
                                            </div>
                                            <div class="g-item">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" checked id="daily-report">
                                                    <label class="custom-control-label" for="daily-report">Receive an email at the end of each day with your activity and totals.</label>
                                                </div>
                                            </div>
                                            <div class="g-item">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" checked id="monthly-report">
                                                    <label class="custom-control-label" for="daily-report">Receive an email at the end of each month with your summary activity and totals.</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-content -->



                                </div><!-- .nk-block -->

                                </div>