
                         <div class="tab-pane active" id="yourac">
                                <div class="nk-block">
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">Account Owner Contact Informtation</h5>
                                            <div class="nk-block-des">
                                                <p>These fields are private and will not be shared. This section is only used for account security, support and recovery.</p>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->


                                    <div class="card card-bordered">
                                        <div class="nk-data data-list">
                                            <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#contact">
                                                <div class="data-col">
                                                    <span class="data-label">Account Owner</span>
                                                    <span class="data-value">_____</span>
                                                </div>
                                                <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                            </div>
                                            <div class="data-item">
                                                <div class="data-col"data-toggle="modal" data-target="#profile-edit">
                                                    <span class="data-label">Email</span>
                                                    <span class="data-value">
          <%=@user.email%>
                                                    </span>
                                                </div>
                                                <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                            </div>
                                            <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                                <div class="data-col">
                                                    <span class="data-label">Phone Number</span>
                                                    <span class="data-value">____</span>
                                                </div>
                                                <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                            </div>

                                            <div class="data-item">
                                                <div class="data-col">
                                                    <span class="data-label">Additional Users</span>
                                                    <span class="data-value text-soft">Single User License</span>
                                                </div>
                                                <div class="data-col data-col-end"><span class="data-more disable"><em class="icon ni ni-lock-alt"></em></span></div>
                                            </div>
                                        </div><!-- .nk-data -->
                                    </div><!-- .card -->



                                    <!-- Another Section -->
                                    <div class="nk-block-head">
                                        <div class="nk-block-head-content">
                                            <h5 class="nk-block-title">Personal Preferences</h5>
                                            <div class="nk-block-des">
                                                <p>Match your preferences to your location.</p>
                                            </div>
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="card card-bordered">
                                        <div class="nk-data data-list">





                                          <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#prefrences">
                                                <div class="data-col">
                                                    <span class="data-label">Language</span>
                                                    <span class="data-value">English (United States)</span>
                                                </div>
                                                <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                            </div>
                                            <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#prefrences">
                                                <div class="data-col">
                                                    <span class="data-label">Time Zone</span>
                                                    <span class="data-value">_____</span>
                                                </div>
                                                <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                                            </div>
                                        </div><!-- .nk-data -->
                                    </div><!-- .card -->



                                </div><!-- .nk-block -->
                                </div>