        <!-- START FOOTER -->
        <div class="container-fluid container-fixed-lg footer ">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
<!--               <span class="hint-text">© </span> -->
<!--               <span class="font-montserrat">Easy Give Kiosk</span>. -->
<!--               <span class="hint-text">All rights reserved.</span> -->
              <span class="sm-block">© Paynow.io | <a href="#">Terms of use</a> | <a href="#">Privacy Policy</a> </span>
            </p>
<!--
            <span class="small no-margin pull-right sm-pull-reset">
              <a href="settings.html" class="fa fa-cog"></a>
            </span>
-->
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END FOOTER -->