<div id="app" v-cloak>


    <loading :active.sync="isLoading" :can-cancel="true" :is-full-page="true"></loading>



    <div class="nk-block nk-block-lg">
        <div class="nk-block-head">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h4 class="title nk-block-title">Report for {{kiosk_title}}</h4>
                    <div class="nk-block-des text-soft">
                        <p>Sort your transactions by time, card type, amount and more...</p>
                    </div> <!-- .nk-block-des -->
                </div><!-- .nk-block-head-content -->

                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                                class="icon ni ni-more-v"></em></a>
                        <div class="toggle-expand-content" data-content="pageMenu">

                        </div>
                    </div>
                </div><!-- .nk-block-head-content -->


            </div>


        </div>

    </div>





    <br /><!-- scott -->

    <div class="nk-block nk-block-lg">




        <div class="card card-bordered card-full">
            <div class="card-inner">
                <div class="card-title-group">
                    <div class="card-title">
                      <h6 class="title"><span class="mr-2">Recent Transactions</span>
                      <a href="#" class="link d-none d-sm-inline"></a> <!-- See History Dan -->
                      </h6>



                    </div>
                    <div class="card-tools">
                        <ul class="pagination justify-content-end">



                            <li class="page-item"> <input class="search-text form-control" type="text" v-model="s"
                                    placeholder="Search"  @keyup="search()">
                            </li>




                        </ul>
                        <!-- temp hidden dan
                        <ul class="card-tools-nav">

                            <li  v-bind:class="{active: ctype == 'credit'}"><a  role="button" v-on:click="ctype_filter('credit')"><span>Credit</span></a></li>
                            <li v-bind:class="{active: ctype == 'debit'}"><a  role="button" v-on:click="ctype_filter('debit')"><span>Debit</span></a></li>
                            <li v-bind:class="{active: tx_status == 'refund'}"><a  role="button" v-on:click="tx_status_filter('refund')"><span>Refunds</span></a></li>
                            <li  v-bind:class="{active: (tx_status == null &&  ctype == null)}"  role="button"><a v-on:click="reset()"><span>All</span></a></li>
                        </ul>
                        -->
                    </div>
                </div>
            </div>
            <div class="card-inner p-0 border-top">
                <div class="nk-tb-list nk-tb-orders">

                    <div class="nk-tb-item nk-tb-head">
                        <div class="nk-tb-col sorting" :class="getclass('id')"><span role="button"
                                v-on:click="sort('id')">Tx</span></div>

                        <div class="nk-tb-col sorting" :class="getclass('created_at')"><span role="button"
                                v-on:click="sort('created_at')">Date</span></div>

                        <div class="nk-tb-col sorting" :class="getclass('name')"><span role="button"
                                v-on:click="sort('name')">Customer</span></div>

                        <div class="nk-tb-col tb-col-md sorting" :class="getclass('company')"><span role="button"
                                v-on:click="sort('company')">Company</span></div>

                        <div class="nk-tb-col tb-col-md sorting" :class="getclass('inv_num')"><span role="button"
                                v-on:click="sort('inv_num')">Invoice</span></div>

                        <div class="nk-tb-col sorting" style="width: 10%" :class="getclass('amount')"><span role="button"
                                v-on:click="sort('amount')">Amount</span></div>

                        <div class="nk-tb-col tb-col-md sorting" style="width: 10%" :class="getclass('fee')"><span role="button"
                                v-on:click="sort('fee')">Fee</span></div>

                        <div class="nk-tb-col tb-col-md sorting" :class="getclass('tip_amt')"><span role="button"
                                v-on:click="sort('tip_amt')">Tip</span></div>

                        <div class="nk-tb-col sorting" style="width: 5%" :class="getclass('tx_status')"><span role="button"
                                v-on:click="sort('tx_status')" class="badge badge-dot badge-dot-xs badge-gray">&nbsp;</span></div>
                    </div>


                    <div class="nk-tb-item pointer" v-for="row of rows" v-on:click="getDetails(row.id)" role="button">
                        <div class="nk-tb-col">
                            <span class="tb-sub">{{row.id}}</span>
                        </div>
                        <div class="nk-tb-col">
                            <span class="tb-sub">{{row.date}}</span>
                        </div>
                        <div class="nk-tb-col">
                            <span class="tb-sub">{{row.name}}</span>
                        </div>
                        <div class="nk-tb-col tb-col-md">
                            <span class="tb-sub">{{row.company}}</span>
                        </div>
                        <div class="nk-tb-col tb-col-md">
                            <span class="tb-sub">{{row.inv_num}}</span>
                        </div>
                        <div class="nk-tb-col">
                            <span class="tb-sub">{{row.amount}}</span>
                        </div>
                        <div class="nk-tb-col tb-col-md" style="width: 10%">
                            <span v-if="row.gateway_fee == '$0.00'" class="tb-sub">Not Collected</span>
                            <span v-else class="tb-sub">Collected</span>
                        </div>
                        <div class="nk-tb-col tb-col-md" style="width: 10%">
                            <span class="tb-sub">{{row.tip_amt}}</span>
                        </div>
                        <div class="nk-tb-col" style="width: 5%">
                            <span v-if="row.tx_status == 'Approved'"
                                class="badge badge-dot badge-dot-xs badge-success text-capitalize">
                                <!-- Approved temp hidden dan --> &nbsp;
                            </span>
                            <span v-else class="badge badge-dot badge-dot-xs badge-danger text-capitalize">
                                <!-- {{row.tx_status}} temp hidden dan --> &nbsp;
                            </span>
                        </div>
                    </div>













                    <!-- Row End -->

                </div>
            </div>
            <div class="card-inner-sm border-top text-center d-sm-none">
                <a href="#" class="btn btn-link btn-block">See History</a>
            </div>
        </div><!-- .card -->



    </div>


    <div>
        <ul class="pagination justify-content-start">
            <li class="page-item" v-bind:class="{ disabled: page == 1 }"><a class="page-link" tabindex="-1"
                    aria-disabled="true" role="button" v-on:click="nextp()">Prev</a></li>
            <li class="page-item" v-bind:class="{ disabled: page == total_pages }"><a class="page-link"
                    v-on:click="nextp()" role="button">Next</a></li>
            <li class="page-item"><a class="page-link"> {{total_count}} records found</a></li>

        </ul>

        <ul class="pagination justify-content-end">



            <li class="page-item"> <input class="go-num form-control" type="text" v-model="page">
            </li>
            <li class="page-item"> <a v-on:click="getIndex()" class="go-btn btn btn-primary" data-target="pageMenu"
                    role="button"> Go
                </a>
            </li>

            <li class="page-item"><a class="page-link"> of {{total_pages}}</a></li>


        </ul>
    </div>






    <b-modal ref="my-modal" hide-footer id="modal-1" size="lg">

        <div v-if="detail">
            <div class="nk-modal-head mb-3 mb-sm-5">
                <h4 class="nk-modal-title title">Transaction <small class="text-primary">#{{detail.id}}</small></h4>

            </div>



            <div class="nk-tnx-details">
                <div class="nk-block-between flex-wrap g-3">
                    <div class="nk-tnx-type">
                        <div class="nk-tnx-type-icon bg-warning text-white">
                            <em class="icon ni ni-money"></em>
                        </div>
                        <div class="nk-tnx-type-text">
                            <h5 class="title">{{detail.total_charged}}</h5>
                            <span class="sub-text mt-n1">{{detail.date}} </span>
                        </div>
                    </div>
                    <ul class="align-center flex-wrap gx-3">



                         <li>

                            <span v-if="detail.tx_status == 'Approved'"
                                class="badge badge-sm  badge-success text-capitalize">
                                Approved
                            </span>


                            <span v-else class="badge badge-sm badge-warning text-capitalize">
                                {{detail.tx_status}}
                            </span>



                        </li>
                    </ul>
                </div>
                <div class="nk-modal-head mt-sm-5 mt-4 mb-4">
                    <h5 class="title">Transaction Info</h5>
                </div>
                <div class="row gy-3">
                </div>
                <div class="row gy-3">
                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Base Amount</span>
                        <span class="caption-text"> {{detail.amount}}</span>
                    </div>
                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Gateway Fee</span>
                        <span class="caption-text">{{detail.gateway_fee}}</span>
                    </div>

                </div><!-- .row -->
                <div class="row gy-3">
                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Tip Added</span>
                        <span class="caption-text">{{detail.tip_amt}}</span>
                    </div>
                    <div class="col-6 col-sm-3">
                        <span class="sub-text">BIN Type</span>
                        <span class="caption-text">{{detail.card_type}}</span>
                    </div>


                </div><!-- .row -->
                <div class="nk-modal-head mt-sm-5 mt-4 mb-4">
                    <h5 class="title">Transaction Details</h5>
                </div>
                <div class="row gy-3">



                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Reference ID</span>
                        <span class="caption-text text-break">{{detail.cardconnectref}}</span>
                    </div>
                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Name on Card</span>
                        <span class="caption-text">{{detail.name}}</span>
                    </div>
                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Email Address</span>
                        <span class="caption-text align-center">{{detail.email}}</span>
                    </div>




                </div>
                <div class="row gy-3">




                    <div class="col-6 col-sm-3">
                        <span class="sub-text">MID </span>
                        <span class="caption-text text-break">{{detail.merchid}}</span>
                    </div>

                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Auth Code </span>
                        <span class="caption-text text-break">{{detail.authcode}}</span>
                    </div>
                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Last 4 </span>
                        <span class="caption-text text-break">{{detail.last4}}</span>
                    </div>


                </div>



                <div class="row gy-3" >


                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Invoice #</span>
                        <span class="caption-text text-break">{{detail.inv_num}}</span>
                    </div>



                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Invoice description</span>
                        <span class="caption-text text-break">{{detail.inv_desc}}</span>
                    </div>
                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Company</span>
                        <span class="caption-text text-break">{{detail.company}}</span>
                    </div>
                </div>

                <div class="row gy-3" >


                    <div class="col-6 col-sm-3">
                        <span class="sub-text">Emp</span>
                        <span class="caption-text text-break">{{detail.emp}}</span>
                    </div>



                   
                    
                </div>


                <br /><br />
                <div class="row gy-3">
                    <div class="col-lg-12">

                        <ul class="preview-btn-list">
                            <li class="preview-btn-item" v-if="detail.tx_status == 'Approved' || detail.tx_status == 'Queued for Capture'">


                                <input type="button" v-on:click="refund(detail.id)" value="Refund"
                                    class="btn btn-danger btn-refund">
                                <span class="badge badge-dot-xs"
                                    v-if="refund_status[detail.id]">{{refund_status[detail.id]}}</span>






                            </li>

                            <li class="preview-btn-item">

                                <input type="button" v-on:click="sendreceipt(detail.id)" value="Send Receipt"
                                    class="btn btn-secondary btn-refund">


                                <span class="badge badge-dot-xs"
                                    v-if="receipt_status[detail.id]">{{receipt_status[detail.id]}}</span>
                            </li>

                        </ul>




                    </div>
                </div>



            </div><!-- .nk-tnx-details -->


        </div>



    </b-modal>





</div>

<%= render "snippets/loading" %>
