<div class="container-fluid container-fixed-lg footer">
  <div class="copyright sm-text-center">
    <p class="small no-margin pull-left sm-pull-reset">
      <span class="hint-text">&copy; <%= Time.zone.now.year %> </span>
      <span class="font-montserrat">PayNow.io</span><a href="/terms" target="_new" class="m-l-10 m-r-10">Terms of Use</a> 
      <span class="sm-block">
    </p>

    <div class="clearfix"></div>
  </div>
</div>




     <!-- footer @s -->
                <div class="nk-footer">
                    <div class="container-fluid">
                        <div class="nk-footer-wrap">
                            <div class="nk-footer-copyright"> &copy; 2020 <a href="https://paynow.io" target="_blank">PayNow.io</a>
                            </div>
                            <div class="nk-footer-links">
                                <ul class="nav nav-sm">
                                    <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer @e -->