      <!-- sidebar @s -->
            <div class="nk-sidebar nk-sidebar-fixed is-theme " data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-sidebar-brand">
                        <a href="html/index.html" class="logo-link nk-sidebar-logo">
                            <img class="logo-light logo-img" src="<%=asset_path("logo.png") %>" srcset="<%=asset_path("logo2x.png") %> 2x" alt="logo">
                            <img class="logo-dark logo-img" src="<%=asset_path("logo-dark.png") %>" srcset="<%=asset_path("logo-dark2x.png") %> 2x" alt="logo-dark">
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                    </div>
                </div><!-- .nk-sidebar-element -->
                <div class="nk-sidebar-element">
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-menu" data-simplebar>
                            <ul class="nk-menu">
                                <li class="nk-menu-item active">
                                    <a href="/" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-dashboard"></em></span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="html/online.html" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-layout-alt"></em></span>
                                        <span class="nk-menu-text">Online Payments</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="/dashboard/vt" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-cart"></em></span>
                                        <span class="nk-menu-text">Virtual Terminal</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="html/index-crypto.html" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-qr"></em></span>
                                        <span class="nk-menu-text">Contactless</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                  <li class="nk-menu-item">
                                      <a href="html/index-invest.html" class="nk-menu-link">
                                          <span class="nk-menu-icon"><em class="icon ni ni-reports"></em></span>
                                          <span class="nk-menu-text">Reporting</span>
                                      </a>
                                  </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="html/settings.html" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-account-setting-alt"></em></span>
                                        <span class="nk-menu-text">Settings</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                                <li class="nk-menu-item">
                                    <a href="#" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-signout"></em></span>
                                        <span class="nk-menu-text">Logout</span>
                                    </a>
                                </li><!-- .nk-menu-item -->
                            </ul><!-- .nk-menu -->
                        </div><!-- .nk-sidebar-menu -->
                    </div><!-- .nk-sidebar-content -->
                </div><!-- .nk-sidebar-element -->
            </div>
            <!-- sidebar @e -->